@media(min-width: 1101px) {
    .app {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100% !important;
        max-height: 100dvh !important;
        overflow: hidden;
    }
}
