@media(min-width: 1101px) {
    .profile {
        width: 100%;
        min-width: 600px !important;
        overflow-y: auto;
        height: 100dvh;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .profile {
        padding-top: 16px;
    }
}
