video.call-video::-webkit-media-controls {
    display: none !important;
}

video.call-video::-webkit-media-controls-enclosure {
    display: none !important;
}

video.call-video::-webkit-media-controls-start-playback-button {
    display: none !important;
    -webkit-appearance: none !important;
}
